<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tournament.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<p>
  <strong>Points percentage:</strong>
  <%= @tournament.points_percentage %>
</p>

<ul>
  <% @tournament.fights.each do |fight| %>
    <%= link_to fight_path(fight) do %>
      <li><%= fight.winner.name %> beat <%= fight.loser.name %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Fight', new_fight_path %>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
