<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament:</strong>
  <%= link_to tournament_path(@fight.tournament) do %>
    <%= @fight.tournament.name %>
  <% end %>
</p>

<p>
  <strong>Winner:</strong>
  <%= link_to fighter_path(@fight.winner) do %>
    <%= @fight.winner.name %>
  <% end %>
</p>

<p>
  <strong>Loser:</strong>
  <%= link_to fighter_path(@fight.loser) do %>
    <%= @fight.loser.name %>
  <% end %>
</p>

<p>
  <strong>Winner before points:</strong>
  <%= @fight.winner_before_points %>
</p>

<p>
  <strong>Winner after points:</strong>
  <%= @fight.winner_after_points %>
</p>

<p>
  <strong>Loser before points:</strong>
  <%= @fight.loser_before_points %>
</p>

<p>
  <strong>Loser after points:</strong>
  <%= @fight.loser_after_points %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
