<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "tourney app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to 'Fighters', fighters_path %></li>
          <li><%= link_to 'Tournaments', tournaments_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Profile",    edit_user_registration_path %></li>
          <%= render 'layouts/auth' %>
        </ul>
      </nav>
    </div>
  </div>
</header>